.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.category-product-card {
    font-family: "Roboto", sans-serif;
    text-align: center;

    background: transparent;
    border: 2px solid #e60012;
    border-radius: 12px;

    padding: 10px;
    height: 240px;
    overflow: hidden;
    position: relative;
}

.category-product-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    transition: 0.3s ease;
}

.product-name {
    font-size: 14px;
    margin: 8px 0;
    min-height: 32px;
}

.price {
    font-size: 14px;
}

.price del {
    color: #888;
    margin-right: 6px;
}

.price .sale {
    color: #e60012;
    font-weight: bold;
}
